{% load static %}
<html>
<head> 
<title>
      {% block title %} System Zombies
      {% endblock %}  
</title>
<meta charset="utf-8">
        <title>Responsive Navbar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" href= "{%static 'style1.css'%}">
        <script src= "https://kit.fontawesome.com/f5cbd308f0.js" crossorigin="anonymous"></script>
</head>

<body>
 <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">The System Zombies</label>
            <ul>
                <li><a class="active" href="http://127.0.0.1:8000/">HOME</a></li>
                {% if user.is_authenticated %}  
                <li><a href="/logout"> LOGOUT </a></li>
                <li><a href="/review">FEEDBACK</a></li>
                {% else %}
                <li><a href="/login"> LOGIN </a></li>
                <li><a href="/register"> REGISTER </a></li>
                {% endif %}
                
            </ul>
        </nav>

<div id="content", name="content"> 
  
      {% block content %}
      {% endblock %} 
        
</div>
</body>
</html>