{% extends 'base.html' %}

<head>
<title>Review
</title> </head>
{% block content %}
<div class="flex col cunt">
<center>
<h2 id="title"> Review </h2><br><br>
<body>
<form method="POST">
{%csrf_token%}
<table>
<label for="devnames"><th>Choose course:<th></label>
<select name="devnames" id="devnames">
{%for x in devname.all%}
<option value="{{x.id}}" name="devname">{{x.name}} </option>
{% endfor %}
<tr>
<th> Please enter your feedback</th>
<td><input type="text" cols="15" rows="5" name="text"> </input>
</tr>

     
<tr>
<td colspan="2" align="center">
<button type ="submit"> submit </button>

</td>
</tr>
</form>
</div>
{%endblock%}

</body>



