{% extends 'base.html' %}
<html>
<head>
<title>REVIEW FORM
</title>

<center>
<h1>REVIEW FORM</h1><br><br>
<body>
<form method="POST">
{%csrf_token%}
<table>
<label for="devnames">Choose course:</label>
<select name="devnames" id="devnames">
{%for x in devname.all%}
<option value="{{x.id}}" name="devname">{{x.name}} </option>
{% endfor %}
<tr>
<th> PLEASE ENTRE YOUR COMMENT BELOW</th>
<td><input type="text" cols="15" rows="5" name="text"> </input>
</tr>

     
<tr>
<td colspan="2" align="center">
<button type ="submit"> submit </button>

</td>
</tr>
</form>
</body>
</html>