{% extends 'base.html' %}
{% block title %}
   Home
{% endblock %} 

{% block content %}
<h2 id="title"> What is full stack development ? </h2>
<p id= "starttext"> Full stack development: It refers to the development of both front end(client side) and back end(server side) portions of web application.</p>
<p id="starttext"> Full stack web Developers: Full stack web developers have the ability to design complete web application and websites. They work on the frontend, backend, database and debugging of web application or websites. </p>
<h2 id="title"> Courses </h2>
<div class="row">
{% for x in devname.all%}

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href= "/video/{{x.id}}/" class="card-title">{{x.name}}</a></h5>
        <p class="card-text">{{x.desc}}<p>
      
      </div>
    </div>
  </div>
   
{%endfor%}
{% endblock %}


